<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script type="text/javascript">
function change( el )
{
    if ( el.value === "ON" )
        el.value = "OFF";
    else
        el.value = "ON";
}
</script>   
<body>
   <br><br>
      <form action = "{{ url_for('postData') }}" method = "POST">
      	<input type="text" name = "result" value = "OFF">
	    <input type="submit" value = "Submit">
         </form>
      <form action= "{{ url_for('postData') }}" method = "POST">
      	<input type="submit"  name = "result" value = "OFF" onclick="return change(this);">
         </form>
   </body>
</html>

